/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.gutenberg-game-day-2 {
	padding: 2rem 0;
}

.gutenberg-game-day-2 .gutenberg-game-day-2-richtext {
	padding: 0 2rem;
	font-family: system-ui;
	margin-bottom: -1rem;
}

.gutenberg-game-day-2 .gutenberg-game-day-2-kicker {
	display: inline;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	margin-left: 2rem;
	line-height: 3em;
	color: #fff;
	font-size: 1em;
	font-weight: 500;
}

.gutenberg-game-day-2 .gutenberg-game-day-2-headline {
	font-weight: 800;
	margin-top: 0.75rem;
}

.gutenberg-game-day-2 .gutenberg-game-day-2-subdeck {
	color: #777777;
}

.gutenberg-game-day-2 .error {
	-webkit-box-shadow: 0 0 5px 2px rgba(252,0,84,1);
	-moz-box-shadow: 0 0 5px 2px rgba(252,0,84,1);
	box-shadow: 0 0 5px 2px rgba(252,0,84,1);
}

.gutenberg-game-day-2 .char-limit-error-message {
	background-color: #ff7171;
	color: #fff;
	width: 60%;
}

.gutenberg-game-day-2 .error-kicker {
	margin: 0 0 0 2rem;
}

.gutenberg-game-day-2 .error-headline, .gutenberg-game-day-2 .error-subdeck {
	margin: 1rem 0 0 0;
}

.hidden {
	display: none;
}


